.faw-toast-container {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.faw-toast-top-left {
    top: 1rem;
    left: 0.5rem;
  }

  &.faw-toast-top-center {
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &.faw-toast-top-right {
    top: 3rem;
    right: 0.5rem;
  }

  &.faw-toast-bottom-right {
    bottom: 1rem;
    right: 0.5rem;
  }

  &.faw-toast-bottom-center {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &.faw-toast-bottom-left {
    bottom: 1rem;
    left: 0.5rem;
  }
}

.faw-toast {
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  max-width: 24rem;
  min-width: 300px;
  text-align: center;
  background-color: white;

  // Left-side animations (for top-left and bottom-left positions)
  &.faw-toast-slide-left {
    animation: faw-toast-slideInLeft 0.3s ease-in-out, faw-toast-slideOutLeft 0.3s ease-in-out var(--faw-toast-duration) forwards;
  }

  // Top animations (for top-center position)
  &.faw-toast-slide-top {
    animation: faw-toast-slideInTop 0.3s ease-in-out, faw-toast-slideOutTop 0.3s ease-in-out var(--faw-toast-duration) forwards;
  }

  // Right-side animations (for top-right and bottom-right positions)
  &.faw-toast-slide-right {
    animation: faw-toast-slideInRight 0.3s ease-in-out, faw-toast-slideOutRight 0.3s ease-in-out var(--faw-toast-duration) forwards;
  }

  // Bottom animations (for bottom-center position)
  &.faw-toast-slide-bottom {
    animation: faw-toast-slideInBottom 0.3s ease-in-out, faw-toast-slideOutBottom 0.3s ease-in-out var(--faw-toast-duration) forwards;
  }

  // Left border
  &.faw-toast-border-left-10 {
    border-left-width: 10px;
    border-left-style: solid;
  }

  // Top border
  &.faw-toast-border-top-10 {
    border-top-width: 10px;
    border-top-style: solid;
  }

  // Right border
  &.faw-toast-border-right-10 {
    border-right-width: 10px;
    border-right-style: solid;
  }

  // Border colors
  &.faw-toast-border-green {
    border-color: #10b981;
  }

  &.faw-toast-border-red {
    border-color: #ef4444;
  }

  &.faw-toast-border-sky {
    border-color: #0284c7;
  }

  &.faw-toast-border-indigo {
    border-color: #6366f1;
  }

  .faw-toast-content {
    flex: 1;
  }

  .faw-toast-close {
    cursor: pointer;
    color: #6b7280;

    &:hover {
      color: #111827;
    }
  }

  .faw-toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--faw-toast-progress-bar-bg);
    width: 100%;
    animation: faw-toast-progress var(--faw-toast-duration) linear forwards;
  }
}

// Right-side animations
@keyframes faw-toast-slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes faw-toast-slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

// Left-side animations
@keyframes faw-toast-slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes faw-toast-slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

// Top animations
@keyframes faw-toast-slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes faw-toast-slideOutTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

// Bottom animations
@keyframes faw-toast-slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes faw-toast-slideOutBottom {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes faw-toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
